.button {
    margin: 0 0.2em;
    font-weight: bold;
    cursor: pointer;
    transition:
        opacity 0.15s,
        background-color 0.15s,
        color 0.15s,
        box-shadow 0.15s;
}

#button1 {
    color: white;
    background-color: rgb(204, 0, 0);
    padding: 1em 1.5em;
    border: none;
    border-radius: 0.35em;
}

#button1:hover {
    opacity: 0.8;
}

#button1:active {
    opacity: 0.7;
}

#button2 {
    color: rgb(26, 115, 232);
    background-color: white;
    padding: 0.85em 1.5em;
    border-color: rgb(26, 115, 232);
    border-style: solid;
    border-width: 0.15em;
    border-radius: 0.35em;
}

#button2:hover {
    color: white;
    background-color: rgb(26, 115, 232);
}

#button2:active {
    opacity: 0.7;
}

#button3 {
    color: white;
    background-color: rgb(29, 155, 240);
    padding: 1em 1.5em;
    border: none;
    border-radius: 2em;
}

#button3:hover {
    box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.15);
}

#button3:active {
    opacity: 0.8;
    box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.15);
}