p {
    margin: 0;

    font-family: Roboto, Arial;
}

.search-bar {

}

.video {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.3rem;
}

.thumbnail {
    width: 300px;
    margin-bottom: 0.25rem;
}

.thumbnail.img {
    width: 100%;
}

.info {

}

.info.channel {
    width: 36px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.6em;
}

.info.channel.img {
    width: 100%;
    border-radius: 50%;
}

.info.text {
    display: inline-block;
    width: 220px;
}

.info.text.title {
    margin-bottom: 0.5em;

    font-size: 0.95em;
    font-weight: 500;
    line-height: 1.3em;
}

.info.text.author,
.info.text.stats {
    font-size: 0.8em;
    color: rgb(96, 96, 96);
}