/* Video Section */
.video-container {
    margin-right: 1.3em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 2.5em;
}

.video {
    width: 100%;
}

.youtube-vid {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-vid iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 100%;
    margin-bottom: 0.5rem;

    position: relative;
}

.thumbnail.img {
    width: 100%;
    margin: 0;
}

.thumbnail-text {
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto;
    padding: 0.4em;
    border-radius: 0.2em;

    font-family: Roboto, Arial;
    font-size: 0.75rem;
    font-weight: 500;
    color: white;

    position: absolute;
    bottom: 1em;
    right: 0.5em;
}

.info {
    display: grid;
    grid-template-columns: 48px 1fr;
}

.info.channel {

}

.info.channel.img {
    width: 36px;
    border-radius: 50%;
}

.info.text {
    display: inline-block;
    width: 220px;
}

.info.text.title {
    margin-bottom: 0.5em;

    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.3em;
}

.info.text.author,
.info.text.stats {
    font-size: 0.8em;
    color: rgb(96, 96, 96);
}

/* Media querries */
@media (max-width: 950px) {
    .video-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .video-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1250px) {
    .video-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}